@import "~font-awesome/css/font-awesome.css";

.loader-hidden {
  display: none !important;
}

.loader-active {
  display: block !important;
  position: absolute !important;
  top: 30%;
  left: 50%;
}

.pacman > div {
  border-right-color: transparent !important;
  border-left-color: #657ba0 !important;
  border-bottom-color: #657ba0 !important;
  border-top-color: #657ba0 !important;
}

.pacman>div:nth-child(3), .pacman>div:nth-child(4), .pacman>div:nth-child(5), .pacman>div:nth-child(6) {
  background-color: #657ba0 !important;
}

li {
  list-style: none;
}

.d2h-file-name {
  font-size: 12px !important;
}

.d2h-file-wrapper {
  font-size: 12px !important;
  line-height: 0px !important;
}

.d2h-wrapper {
  font-size: 12px !important;
  line-height: 0px !important;
  overflow-x: scroll;
}

.d2h-diff-tbody>tr>td {
  font-size: 12px !important;
  line-height: 0px !important;
}

.line-num1 {
  overflow: visible;
}

.line-num2 {
  overflow: visible;
}

.diff-container {
  width: 85.000em !important;
}

.react-datepicker {
  display: none !important;
}
