@import "~font-awesome/css/font-awesome.css";

.loader-hidden {
  display: none !important;
}

.loader-active {
  display: block !important;
  position: absolute !important;
  top: 30%;
  left: 25em;
}

body {
  position: relative;
  color: black;
  height: 100vh;
  overflow-y: hidden;
  background-color: #657ba0;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: black;
}

li {
  list-style: none;
}

a {
  color: black;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
