@import "~font-awesome/css/font-awesome.css";

.loader-hidden {
  display: none !important;
}

.loader-active {
  display: block !important;
  position: absolute !important;
  top: 30%;
  left: 25em;
}

.pacman > div {
  border-right-color: transparent !important;
  border-left-color: #657ba0 !important;
  border-bottom-color: #657ba0 !important;
  border-top-color: #657ba0 !important;
}

li {
  list-style: none;
}
